<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hospital</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">161419583</property>

    <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>


	<!-- Simple memory-only cache -->
	<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

	<!-- Enable Hibernate's automatic session context management -->
	<property name="current_session_context_class">thread</property>

	<mapping resource="entidades/Asegurado.hbm.xml"/>
	<mapping resource="entidades/Habitacion.hbm.xml"/>
	<mapping resource="entidades/HojaClinica.hbm.xml"/>
	<mapping resource="entidades/Medico.hbm.xml"/>
	<mapping resource="entidades/Especialidad.hbm.xml"/>		
   
  </session-factory>
</hibernate-configuration>
